<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-0000000000000000/1111111111</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-0000000000000000/2222222222</string>
	<key>CLIENT_ID</key>
	<string>333333333333-kd4a9hsqruk9vvm4agiqka0j7v54kp7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333333333333-kd4a9hsqruk9vvm4agiqka0j7v54kp7k</string>
	<key>API_KEY</key>
	<string>AIzaSyCLfUr6nunyajG8veSAA6J5bidnessVEFY</string>
	<key>GCM_SENDER_ID</key>
	<string>444444444444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.infusionsofgrandeur.lootraider</string>
	<key>PROJECT_ID</key>
	<string>lootraider</string>
	<key>STORAGE_BUCKET</key>
	<string>lootraider.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:444444444444:ios:ef04fe16e0266676</string>
	<key>DATABASE_URL</key>
	<string>https://lootraider.firebaseio.com</string>
</dict>
</plist>
